{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block css  %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="{% url 'home'%}">Домой</a></li>
                <li><a href="{% url 'shop'%}">Каталог</a></li>
                <li class="active">Заказ</li>
            </ul>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12 ">
            <div class="row userInfo">
                <div class="thanxContent text-center">
                    <h1> Спасибо за Ваш заказ <a href="#">#{{ order }}</a></h1>
                    <h4><solid>мы свяжемся с Вами для подтверждения заказа и уточнения деталей</solid></h4>
                </div>
                <div class="col-lg-7 col-center">
                    <h4></h4>
                    <div class="cartContent table-responsive  w100">
                        <table style="width:100%" class="cartTable cartTableBorder">
                            <tbody>
                            <tr class="CartProduct  cartTableHeader">
                                <td colspan="3">Товары для отправки</td>
                            </tr>
                            {% for item_conf in products_conf %}
                                <tr class="CartProduct">
                                    <td class="CartProductThumb" style="padding: 0px 5px">
                                        <div><a href="{% url 'item' item_conf.id %}"><img alt="img" src="{{ item_conf.img }}"></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="CartDescription">
                                            <h4><a href="{% url 'item' item_conf.id %}">{{ item_conf.name }}</a></h4>
                                            <div class="price"><span>{{ item_conf.product_price }}</span></div>
                                        </div>
                                    </td>
                                    <td class="price">{{ item_conf.total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/row end-->
        </div>
        <!--/rightSidebar-->
    </div>
    <!--/row-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}