{% extends 'base_home.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="banner">
    <div class="full-container">
        <div class="slider-content">
            <!-- prev/next links -->
            <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span>
            <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>

            <div class="slider slider-v1"
                 data-cycle-swipe=true
                 data-cycle-center-horz=true
                 data-cycle-center-vert=true
                 data-cycle-prev=".prevControl"
                 data-cycle-next=".nextControl"
                 data-cycle-loader="wait">
                 {% for img in slider %}
                    <img src="{{ img.slider.url }}" >
                 {% endfor %}
            </div>
            <!--/.slider-banner-->
        </div>
        <!--/.slider-content-->
    </div>
    <!--/.full-container-->
</div>
<div class="container main-container">
    <!--  Main component -->
    <div class="row featuredPostContainer globalPadding style2">
        <h3 class="section-title style2 text-center">
            <span>НОВЫЕ ПОСТУПЛЕНИЯ</span>
        </h3>
        <form id="form_add2cart" action="{% url 'add_item2cart' %}"> {% csrf_token %}
        </form>
        <div id="productslider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            {% for item in product %}
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <a href="{% url 'item' item.product.id %}">
                                <img src="{{ item.picture_small.url }}" alt="img" class="img-responsive">
                            </a>
                            <div class="promotion">
                                <span class="new-product">NEW</span>
                                {% if item.product.discount %}
                                    <div class="discount">
                                        <span>{{ item.product.discount }}%</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="description">
                            <h4><a href="{% url 'item' item.product.id %}">{{ item.product.name }}</a></h4>
                            <p>
                                {{ item.product.description|truncatechars_html:120}}
                            </p>
                        </div>
                        <div class="price">
                            <span>{{ item.product.price }} UAH</span>
                        </div>
                        <div class="action-control">
                            <button type="submit" class="btn btn-primary add2cart"
                                data-product_id = "{{ item.product.id }}"
                                >
                                Добавить в корзину
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}