{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
        <!-- Bootstrap core CSS -->
        <link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles -->
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'all.min.css' %}" rel="stylesheet">
        <!-- add theme styles for this template -->
<!--        <link id="pagestyle" rel="stylesheet" type="text/css" href="{% static 'skin-1.css' %}">-->
        <link  rel="stylesheet" type="text/css" href="{% static 'gray-look.css' %}">
        <!-- styles needed by smoothproducts.js for baguette zoom  -->
        <link rel="stylesheet" href="{% static 'smoothproducts.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    {% endblock %}

</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}

    <!-- jQuery -->
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
        <script src="https://www.virtuosoft.eu/code/bootstrap-touchspin/bootstrap-touchspin/v3.0.1/jquery.bootstrap-touchspin.js"></script>
        <script language="JavaScript" type="text/javascript" src="{% static 'js/my_scripts.js' %}"></script>
<!--        <script language="JavaScript" type="text/javascript" src="{% static 'js/all.min.js' %}"></script>-->
        <!-- include smoothproducts // baguette zoom plugin  -->
        <script type="text/javascript" src="{% static 'js/smoothproducts.min.js' %}"></script>
        <!-- include grid.js // for equal Div height  -->
        <script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
        <script src="{% static 'js/grids.js' %}"></script>
        <!-- include icheck plugin // customized checkboxes and radio buttons   -->
        <script type="text/javascript" src="{% static 'plugins/icheck/icheck.min.js' %}"></script>
        <!-- optionally include helper plugins -->
        <script type="text/javascript" src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
        <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->
        <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
<!--        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>-->
    {% endblock %}
</body>
</html>